Repository dreglad/gitbeaker: changes, and which Codecov flags are due for each by the changed paths.
All: cli, core

.codecov.yml:

codecov:
  max_report_age: off

comment: false

coverage:
  precision: 2
  round: down
  status:
    project:
      default: off
      cli:
        flags: cli
      core:
        target: 50%
        flags: core
    patch:
      default:
        enabled: no
        if_not_found: success
    changes:
      default:
        enabled: no
        if_not_found: success

flags:
  cli:
    paths:
      - packages/cli/
  core:
    paths:
      - packages/core/

Uncomment release step
  .gitlab-ci.yml
Due: none

Update packages
  README.md
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/core/src/infrastructure/GotRequester.ts
  packages/core/src/services/Issues.ts
  packages/core/src/services/IssuesStatistics.ts
  packages/core/src/services/NotificationSettings.ts
  packages/core/test/integration/services/IssueStatistics.ts
  packages/core/test/integration/services/NotificationSettings.ts
  yarn.lock
Due: cli, core

Fixing a few tests and adjusting notification settings to handle the odd put request
  .gitlab-ci.yml
  packages/core/src/infrastructure/BaseRequester.ts
  packages/core/src/infrastructure/BaseService.ts
  packages/core/src/infrastructure/GotRequester.ts
  packages/core/src/infrastructure/Utils.ts
  packages/core/src/infrastructure/index.ts
  packages/core/src/services/Groups.ts
  packages/core/src/services/NotificationSettings.ts
  packages/core/test/integration/services/Groups.ts
  packages/core/test/integration/services/IssueStatistics.ts
  packages/core/test/integration/services/NotificationSettings.ts
Due: core

Resetting tests
  packages/core/test/integration/services/IssueStatistics.ts
  packages/core/test/integration/services/Labels.ts
  packages/core/test/integration/services/NotificationSettings.ts
Due: core

Fix last test and remove logs
  packages/core/src/infrastructure/GotRequester.ts
  packages/core/test/integration/services/Commits.ts
  packages/core/test/integration/services/NotificationSettings.ts
Due: core

Adding more tests
  .gitlab-ci.yml
  packages/core/src/services/Groups.ts
  packages/core/src/services/Licence.ts
  packages/core/src/services/Projects.ts
  packages/core/test/integration/services/Groups.ts
  packages/core/test/integration/services/Licence.ts
  packages/core/test/integration/services/UserGPGKeys.ts
Due: core

updating schema
  packages/core/src/services/RepositoryFiles.ts
Due: core

Fixing some erroring tests and making first user admin with read user abilities for tests
  .codecov.yml
  packages/core/test/integration/services/Groups.ts
  packages/core/test/integration/services/Licence.ts
  packages/core/test/integration/services/UserGPGKeys.ts
  scripts/init.rb
Due: core

Test updates improve coverage and responses
  .codecov.yml
  .gitlab-ci.yml
  codecov.yml
  packages/cli/test/integration/index.ts
  packages/core/src/infrastructure/GotRequester.ts
  packages/core/src/infrastructure/RequestHelper.ts
  packages/core/src/services/Groups.ts
  packages/core/test/integration/services/ApplicationSettings.ts
  packages/core/test/integration/services/Commits.ts
  packages/core/test/integration/services/Groups.ts
  packages/core/test/integration/services/IssueStatistics.ts
  packages/core/test/integration/services/Issues.ts
  packages/core/test/integration/services/Labels.ts
  packages/core/test/integration/services/Licence.ts
  packages/core/test/integration/services/NotificationSettings.ts
  packages/core/test/integration/services/Projects.ts
  packages/core/test/integration/services/PushRules.ts
  packages/core/test/integration/services/Snippets.ts
  packages/core/test/integration/services/UserGPGKeys.ts
  packages/core/test/unit/infrastructure/GotRequester.ts
  packages/core/test/unit/infrastructure/RequestHelper.ts
Due: cli, core

Include other tests
  .gitlab-ci.yml
Due: none

Adding additional tests
  .gitlab-ci.yml
  packages/core/package.json
  packages/core/src/services/UserGPGKeys.ts
  packages/core/test/integration/bundles/ProjectsBundle.ts
  packages/core/test/integration/services/ApplicationSettings.ts
  packages/core/test/integration/services/Commits.ts
  packages/core/test/integration/services/Groups.ts
  packages/core/test/integration/services/Issues.ts
  packages/core/test/integration/services/IssuesStatistics.ts
  packages/core/test/integration/services/Labels.ts
  packages/core/test/integration/services/Licence.ts
  packages/core/test/integration/services/NotificationSettings.ts
  packages/core/test/integration/services/Projects.ts
  packages/core/test/integration/services/UserGPGKeys.ts
  packages/core/test/integration/services/Users.ts
  scripts/init.rb
  yarn.lock
Due: core

increase timeout?
  jest.config.js
Due: none
